<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>Demo IBM Cloud Continous Delivery Service</title>

        <link rel="stylesheet" href="/built/css/default.css" />

    </head>

    <body bgcoloer="blue">
        <h1> Demo IBM Cloud Continous Delivery Service</h1>
    </body>

</html>