<!DOCTYPE html>
<html lang="en-us">

    <head>
        <title>Demo IBM Cloud Continous Delivery Service</title>

        <link rel="stylesheet" href="/built/css/default.css" />

    </head>

    <body>
    <div style="background-color:#EDF7FF;">
        <h1> Demo IBM Cloud Continous Delivery Service</h1>
    </div>
    </body>

</html>